/* فهرس للموقع
   1. general styles
   2. header
   3. sections
      3.1 home sec
      3.2 about sec 
      3.3 services sec 
      3.4 price sec 
      3.5 contact sec
      
    */

/*1. general css styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.clear{
    clear: both;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff(0,0,0,0.6);
}
.sec-header{
text-align: center;

}
.sec-header .sec-title{
    text-transform: capitalize;
    font-size: 30px;
}
.pd-y{
    /* دي هتتحكم ف بعد الكلام في كل سيكشن عن السيكشن اللي فوقيه */
    padding: 120px opx;
}

/*2. header */
.header{
    background-color: rgb(175, 116, 230);
    background-size: cover;
    z-index: 10;

}

.header .logo{
width: 40%;
float: left;

}

.header .logo img{
    width: 30%;
}

.header .nav{
    width: 60%;
    float: left;
    list-style: none;
    font-size: 20px;
}

.header .nav li{
    display: inline-block;
}

.header .nav li a{
    text-decoration: none;
    color:aliceblue;
    display: block;
    padding: 30px 15px;
    
}

/* 3. sections */

/* 3.1 home sec */
.home{
    height: 100vh;
    background-image: url("https://www.sqorebda3.com/vb/attachments/17851/");
    background-size:cover;
    position: relative;
   
}
.home-cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
}
.home .home-h{
    color: rgb(55, 33, 75);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home .home-prag{
    margin: 20px 0;
    letter-spacing: 1px;
    color: rgb(71, 23, 116);
}
/* عملت كلاس مشترك للزراير وكلاس منفرد عشان أتحكم فيهم سوا وف كل واحد لوحده */
.home .b1{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(74, 11, 133);
    background-color: rgb(198, 163, 231);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
}
.home .b1:hover{
    background-color: rgb(151, 124, 175);
    transition: 1s;
}

/* about sec */
.about{
    background-color: rgb(103, 81, 105);
    position: relative;
    padding: 100px 0;
}
.about-content{
    text-align: center;
    font-size: 19px;
    padding: 18px 0;
}
.about .about-botton{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(30, 16, 43);
    background-color:rgb(219, 181, 213);
    width: 150px;
    padding: 10px;
    border-radius: 14px;
    text-align: center;
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.about .about-botton:hover{
    background-color: rgb(130, 101, 155);
    transition: 1s;
}
/* services sec */
.service{
  
    overflow: hidden;
    
}
.service .items{
    color:rgb(48, 16, 78);
    width: 30%;
    float: left;
    text-align:center;
    padding: 150px 50px;
    background-image: url("https://www.crushpixel.com/big-static12/preview4/beautiful-purple-flowers-field-selective-818326.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.service .items.bet{
    margin: 0 5%;
}
h3{
    margin-top: 10px;
    font-size: 25px;
}
.service .ser-prag{
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    margin: 30px 0;
}

/* payment sec */
.payment{
overflow: hidden;
    padding: 95px 0;
    background-color: rgb(241, 192, 243);
}
h2{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 50px;
 
}
.payment .payment-boxs{
    width: 111%;
    text-align: center;
    float: left;
}
.payment .payment-boxs .item{
   
    width: 30%;
    float: left;
    text-align:center;
}
.payment .item .pa{
    margin: 0 5%;
}
.payment .pay-prag{
    color: rgb(97, 78, 116);
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 85px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.payment .container .side-prag{
    padding: 10px 0;
    padding-right: 45px;
    width: 50%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    line-height: 22px;
    float: left;
}
h5{
    font-size: 23px;
    padding-top: 30px;
}
.payment .container .side-img{
    height: inherit;
    width: 290px;
    float: right;
}

/* contact sec */
.contact {
    
    text-align: center;
}
.contact .con-title{
    padding: 30px 0;
    font-size: 30px;
}
.contact .con-item{
    text-align: center;
    float: left;

}
.contact .con-item .it{
    float: left;
    text-align:center;
    padding: 4px 183px;
}
a{
    color: rgb(120, 132, 153);
}


